**/node_modules
**/.env
app-laravel\.docker
/app-laravel/.phpunit.cache
/app-laravel/node_modules
/app-laravel/public/build
/app-laravel/public/hot
/app-laravel/public/storage
/app-laravel/storage/*.key
**/vendor
/app-laravel/.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/app-laravel/.fleet
/app-laravel/.idea
/app-laravel/.vscode
/app-laravel*/.docker

