body {
  height: 100vh;
  background-color: #64bbbb;
  background-image: url(6777486e7ac73f627f41dceddc0eedd1.png);
  background-repeat: no-repeat;
  background-position: center; }

.botao {
  background-color: #57d325;
  color: #ac2f2f;
  font-size: 1.8em; }

